<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    JOSICO
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>

  <ion-button (click)="opencamera()">OPEN CAMERA</ion-button>
  <ion-button (click)="opengalery()">OPEN GALERY</ion-button>
  <ion-button (click)="geolocationfuntion()">GEOLOCATION</ion-button>
</ion-content>
